@CHARSET "UTF-8";

.clear {
	clear: both;
}
/**  needed with some templates
*, *::after, *::before {
    box-sizing: border-box;
}
*/

/* those print and email icons */
ul.actions {
	list-style-type:none;
	margin:0;
	padding:0;
	height: 20px;
}

.actions li {
	float:left;	
}

.actions a {
	display:block;
	width:20px;
}

.mymusetable {
	width: 100%;
}
.mymusetable td {
	padding: 5px;
}
.mymuse_msg {
	color:#dd0000;	
	
}

/*category desc */
div.category-desc > img {
	height: 150px;
	max-width: 150px;
	padding: 10px;
	float: left;
}

/* blog or list subcats */
div.cat-children li > span.subcat-image > a > img {
	height: 150px;
	max-width: 150px;
	padding: 10px;
}
div.cat-items ul {
	padding: 0 0 0 20px;
	margin: 5px 0 5px 0;
}
/* some templates force all list items to have display: inline" */
div.cat-items ul li {
    display: block;
}

/* blog layouts */
.blog {
 margin: 1px 1px 1px 10px;

}
.item-title {
	font-weight: bold;
}


/* some classes from bootstrap */
.row-fluid {
	width: 100%;
	*zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
	display: table;
	content: "";
	line-height: 0;
}
.row-fluid:after {
	clear: both;
}
.row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.127659574%;
	*margin-left: 2.0744680846383%;
}
.row-fluid [class*="span"]:first-child {
	margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
	margin-left: 2.127659574%;
}
.row-fluid .span12 {
	width: 99.99999999%;
	*width: 99.946808500638%;
}
.row-fluid .span11 {
	width: 91.489361693%;
	*width: 91.436170203638%;
}
.row-fluid .span10 {
	width: 82.978723396%;
	*width: 82.925531906638%;
}
.row-fluid .span9 {
	width: 74.468085099%;
	*width: 74.414893609638%;
}
.row-fluid .span8 {
	width: 65.957446802%;
	*width: 65.904255312638%;
}
.row-fluid .span7 {
	width: 57.446808505%;
	*width: 57.393617015638%;
}
.row-fluid .span6 {
	width: 48.936170208%;
	*width: 48.882978718638%;
}
.row-fluid .span5 {
	width: 40.425531911%;
	*width: 40.372340421638%;
}
.row-fluid .span4 {
	width: 31.914893614%;
	*width: 31.861702124638%;
}
.row-fluid .span3 {
	width: 23.404255317%;
	*width: 23.351063827638%;
}
.row-fluid .span2 {
	width: 14.89361702%;
	*width: 14.840425530638%;
}
.row-fluid .span1 {
	width: 6.382978723%;
	*width: 6.3297872336383%;
}
/*end bootstrapie */
.row.row-fluid {

}
.row-fluid [class*="span"] {
	min-height: 4px;
}

/*sub-categories columns*/
/*blog products columns */
.cat-items .cols-2 .column-1,
.cat-items .cols-2 .column-2,
.cat-items .cols-3 .column-1,
.cat-items .cols-3 .column-2,
.cat-items .cols-3 .column-3,
.cat-items .cols-4 .column-1,
.cat-items .cols-4 .column-2,
.cat-items .cols-4 .column-3,
.cat-items .cols-4 .column-4,
.cat-items .cols-5 .column-1,
.cat-items .cols-6 .column-1,
.cat-items .cols-7 .column-1,
.cat-items .cols-8 .column-1,
.cat-items .cols-75
{
  float: left;
  clear: right;
  padding-left: 2px;
  padding-right: 2px;
}
.cat-items .cols-75 {
	padding-left: 0;
}
.cat-items .cols-75 { width: 73%; }
.cat-items .cols-2 .column-1 { width: 48%; }
.cat-items .cols-2 .column-2 { width: 48%; }

.cat-items .cols-3 .column-1 { width: 32%; }
.cat-items .cols-3 .column-2 { width: 32%; }
.cat-items .cols-3 .column-3 { width: 32%; }

.cat-items .cols-4 .column-1 { width: 24%; }
.cat-items .cols-4 .column-2 { width: 24%; }
.cat-items .cols-4 .column-3 { width: 24%; }
.cat-items .cols-4 .column-4 { width: 24%; }

.cat-items .cols-5 .column-1 { width: 18%; }
.cat-items .cols-6 .column-1 { width: 15%; }
.cat-items .cols-7 .column-1 { width: 13%; }
.cat-items .cols-8 .column-1 { width: 11%; }

.cat-items .cols-1 .column-1 { width: 98%; }

.cat-items .cols-3 .list-title.column-1 {
	width: 50%;
}


div.cat-items div.items-row{
	clear: both;
}

.intro-item {
	margin: 0;
	float: left;
	width: 90%;
}

div.intro-item .list-image img {
	width: 100%; 
	margin: 2px;
}


div.intro-item .title { 
	font-weight: bold;
  	margin-bottom: 10px;
  	clear: left;
}
div.intro-item .readmore { 
	font-weight: bold;
	clear: left;
}




/*blog sub-categories */
.cat-children ul {
	list-style-type:none;
}

.cat-children ul li {
	break: both;
}

/*blog product items */
.cat-items {
	margin-top:20px;
}

.cat-items .title {
  font-weight: bold;
  margin-bottom: 10px;
}






/* blog links */
.items-more
{
	clear: both;
}
/* end blog */

/* product pages */
.product-image{
	width: 48%;
	float: left;
    padding-right: 10px;
}
.product-image img{
	width: 100%;
}
.product-info {
	float: left;
	width: 49%;
	clear: right;
	padding-left: 1%;
}
 ul.product-content{
	list-style-type:none;
	margin-bottom: 20px;
	margin:0;
	padding:0
}

.product-items ul.product-content li {
	display: inline-block;
}
.mymuse ul.product-content li {
	padding-left: 0;
}
.product-content .release{
	font-weight: 700;
	font-size: 30px;
}
h2.product-title {
	margin-top: 0px;
}
.release-title {
	font-weight: 500;
	font-size: 30px;
}

.product-intro{
	max-width: 100%;
}

.product-content-item .name {
	font-weight: 700;
}
.product-content-item .value {

}
.product-attribute-name, .product-attribute-values {
    margin-right: 20px;
    float: left;
    height: 40px;
    display: table;
}
.product-attribute-values {
    color: #000;
    display: inline-block;
    font-size: 125%;

}
.product-content-item-actions {
    background: #ddd;
    color: #000;
    display: table;
    margin: 20px 0px;
    font-size: 125%;
    padding: 5px 0px;
}
.product-attribute-values-inner {
	margin: 0px 0px;
	font-size: 125%;
}
.product-attribute-values-inner .Color {
	width: 20px;
	height: 20px;
	font-size: 0px;
}
.product-content-item-actions .product-preview-play, .product-content-item-actions .product-full, 
.product-content-item-actions .product-full-title, .product-content-item-actions .price, .product-content-item-actions .fa-cart-plus {
    text-align: center;
    padding: 0px 10px;
    display: table-cell;
    vertical-align: middle;
}

.attribute.active {
    background-color: #aaa;
    padding: 10px 6px;
}
.attribute {
    background-color: #ddd;
    padding: 6px 6px;
    display: inline-block;
}
td.mypreviews .jp-gui {
	padding: 0;
}
/* cart */

.mymuse_cart ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
table.mymuse_cart, div.mymuse_cart {
	background-color: #FFFFFF;
	margin: 1px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-spacing: 0px;
    width: 100%;
}

table.mymuse_cart tr:nth-of-type(even) { 
  background: #eee; 
}

table.mymuse_cart_inner {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-spacing: 0px;    
	width: 100%;
}

.mymuse_cart thead th { 
    background-color: #ddd; 
    font-weight: bold; 
	border: 1px solid #999999; 
}

div.mymuse_cart_top{ 
    background-color: #ddd; 
    font-weight: bold; 
	border: 1px solid #999999; 
	padding: 3px;
}
div.item-row {
	border-bottom: 1px solid #ccc;
}

table.mymuse_cart td, table.mymuse_cart th, div.mymuse_cart {
	padding: 4px;
	vertical-align: middle;
	border: 1px solid #CCCCCC;
}

.mycheckbox{
	text-align: center;
}
.myquantity .inputbox {
	width:auto;
	vertical-align: middle;
	margin: 0;
}

.coupon-add {
	margin-top: 2em;
}
#player{
	margin-left: 174px;
}


.image_pad{
	border: 0;
}

div.mymuse_button a {
	padding: 5px 5px 5px 5px;
	text-align: center;
	font-size: 14px; 
	font-weight: bold;
	border: 1px solid #CCCCCC;

}

.mymuse-wrap {
	background-color: #eee;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	border: 1px solid #ccc;
	border-spacing: 0px;
    width: 100%;
}
.mymuse-button-left{
	float:  left;
}

.mymuse-button-right{
	float: right;
}

.mymuse-wrap .button{
	margin: 3px 3px 3px 3px;
}

span.discount {
	text-decoration: line-through;
	color: red;
}

.myselect, .myfilesize{
	margin-right: auto;
	margin-left: auto;
	text-align: center;

}
td.myprice, td.myquantity,td.mytotal, td.myoriginalsubtotal, td.myshoppergroupdiscount,
td.mynewsubtotal, td.mytaxname, td.mytax, td.mytotal, td.mydiscount, 
 td.mytax, td.myshipping, td.mysubtotal, td.mycoupon
{
	text-align: right;
} 
	
/* to hide the player, uncomment this commented section 
#product_player {
  top: -1000px;
  position: absolute;
  z-index:2000000;

}
#jp-title-div  {
  top: -1000px;
  position: absolute;
  z-index:2000000;
}
*/
/* end of hide player */

/* Minicart on page */
#parent {
 float:left;
position: relative;
padding-bottom: 10px;
}
#mini-cart {
 float:right;
position: relative;
padding-bottom: 10px;
}


.mini-cart-top{
	width: 300px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 4px;
}
.mini-cart-content{
	border-radius: 8px;
	background: #fff none repeat scroll 0% 0%;
	padding: 10px;

}
.mini-cart-cart, .mini-cart-text, .mini-cart-link {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}
.mini-cart-cart {
	background: url('../images/cart.png') no-repeat scroll 0% 0%;
	width: 34px;
	height: 34px;
}
.mini-cart-text, .mini-cart-link {
    padding: 1px 10px;
}




/* alphabet */
#alphabet .letter {
    padding: 0 5px 0 0;
    font-weight:bold;
}
#alphabet  a.letter{
	font-size: 1.5em;
}
#alphabet a.letter.selected {
   font-size: 2em;
}


/* Add to cart Modal */
#my_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	z-index: 1000;
}

#my_modal {
	position: fixed;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 14px;
	padding: 8px;
	z-index: 1001;
}

#my_content {
	border-radius: 8px;
	background: #fff;
	padding: 20px;
	z-index: 1001;
}

#my_close {
	position: absolute;
	background: url('../images/close.png') 0 0 no-repeat;
	width: 24px;
	height: 27px;
	display: block;
	text-indent: -9999px;
	top: -7px;
	right: -7px;
}	
/* related/recommended items */
#mymuse-container-wrap {
    margin: 50px 0px 35px 0px
}
#mymuse-container {
    width: 100%;
}
.related-item {
    display: inline-block;
    width: 13.98%;
}
.related-item img {
    width: 100%
}
	
.licence-text{
	margin-top: 10px;
	font-weight: bold;
}
.mobile-hide {
    display: inherit;
}
td.mobile-hide {
    display: table-cell;
}
.desktop-hide {
    display: none;
}
/* Only Phones */  
@media (max-width: 767px) { 
	
	.mini-cart-top {
		max-width: 100%;
	}
	.mymuse-cart {
		text-align:center;
	}
	table.mymuse_cart td, table.mymuse_cart th, div.mymuse_cart {
		border: none;
		border-bottom: 1px solid #CCCCCC;
		padding-right: 0;
		padding-left: 0;
	}
	.mymuse_cart 
	.mymuse-mobile-hide {
    	display: none;
	}

	.mymuse-desktop-hide {
    	display: inherit;
	}
	.product-image, .product-info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	    text-align: center;
	}
	.cat-items .cols-2 .column-1, .cat-items .cols-2 .column-2, 
	.cat-items .cols-3 .column-1, .cat-items .cols-3 .column-2, .cat-items .cols-3 .column-3,
	.cat-items .cols-4 .column-1, .cat-items .cols-4 .column-2, .cat-items .cols-4 .column-3, 
	.cat-items .cols-4 .column-4, .cat-items .cols-5 .column-1, .cat-items .cols-6 .column-1, 
	.cat-items .cols-7 .column-1, .cat-items .cols-8 .column-1, .cat-items .cols-75
	  { 
	  	width: 100%; 
	  	text-align: center;
	  }
	.row-fluid {
		text-align: left;
	}

	//.product-image{
	//	width:100%;
	//	clear: both;
	//}
	td.myselect, td.myprice, td.myfilesize, td.mytotal, td.myquantity,
	td.myoriginalsubtotal, td.myshoppergroupdiscount,
	td.mynewsubtotal, td.mytaxname, td.mytax, td.mytotal,
	td.mydiscount, td.myshipping, td.myshipmethod, td.mysummarytotal, 
	td.mysubtotal, td.mycoupon, td.mypreview, td.mydownloads, td.myexpiry
	{
		text-align: left;
	}

	/* Force table to not be like tables anymore */
 	.mymuse_cart tr, .mymuse_cart.cart td { 
		display: table-row; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.mymuse_cart thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.mymuse_cart thead tr { 
		border: 1px solid #ccc; 
	}
	
	.mymuse_cart td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	.mymuse_cart.cart td {
		display: block;
		float: left;
		width: 100%;
	}
	
	
	.myselect:before, .mytitle:before, .mytime:before,
	.myfilesize:before, .myprice:before, .mypreviews:before,
	.myquantity:before, .mysku:before, .mysubtotal:before, 
	.myaction:before, .myoriginalsubtotal:before, .myshoppergroupdiscount:before,
	.mynewsubtotal:before, .myshipping:before, .mytotal:before, 
	.myupdatecart:before, .mycoupon:before, .myreservationfee:before, 
	.myothercharges:before, .mypaynow:before, .mydiscount:before,
	.myimage:before, .myauthor:before, .myhits:before, .mysales:before,
	.mydate-modified:before, .mydate-created:before, .mydate-published:before, 
	.mydate-product_made_date:before, .myartist:before, .myorderid:before,
	.mydate:before, .myorderstatus:before, .myfullname:before, .myemail:before,
	.myphone:before, .myaddress:before, .mycity:before, .myzip:before,
	.myregion:before, .mycountry:before, .mycompany:before , .myfax:before, 
	.myColour:before, .myshipmethod:before, .myordernumber:before,
	.myorderdate:before, .mypaid:before, .mysummarytotal:before,
	.mypreview:before, .mydownloads:before, .myexpiry:before
	 { 
		white-space: nowrap;
		padding-right: 5px;
		padding-left: 5px;
		margin-right: 5px;
		display: inline-block;
		border-right: 1px solid #ccc;
		width:20%;
	}
	
	
	td.myselect, td.mytitle, td.mytime,
	td.myfilesize, td.myprice, td.mypreviews,
	td.myquantity, td.mysku, td.mysubtotal, 
	td.myaction, td.myoriginalsubtotal, td.myshoppergroupdiscount,
	td.mynewsubtotal, td.myshipping, td.mytotal, 
	td.myupdatecart, td.mycoupon, td.myreservationfee, 
	td.myothercharges, td.mypaynow, td.mydiscount,
	td.myimage, td.myauthor, td.myhits, td.mysales,
	td.mydate-modified, td.mydate-created, td.mydate-published, 
	td.mydate-product_made_date, td.myartist, td.myorderid,
	td.mydate, td.myorderstatus, td.myfullname, td.myemail,
	td.myphone, td.myaddress, td.mycity, td.myzip,
	td.myregion, td.mycountry, td.mycompany , td.myfax, 
	td.myColour, td.myshipmethod, td.myordernumber,
	td.myorderdate, td.mypaid, td.mypreview, td.mydownloads, td.myexpiry
	{ 
		clear:both;
	}
	td.mytotal:before, td.mytotal, td.myoriginalsubtotal:before, td.myoriginalsubtotal,
	td.mydiscount:before, td.mydiscount, td.myshipping:before, td.myshipping {
		font-weight: bold;
	}
	
	td.mobile-hide{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.mypreviews .jp-gui {
		padding: 0;
	}
}

