@CHARSET "UTF-8";
/* MORE */
.product-detail-item {
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
}
.product-detail-item .key {
    font-weight:  bold;
}
.product-fulltext {
    margin-top:  2em;
}
.mymuse ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Alphabetical List */
.alpha-list {
    display:  grid;
    align-items: center;
    justify-items: center;
}
.alpha-list .filter-letter {

}
.alpha-list .filter-letter.selected {
    font-size:  1.5em;
    font-weight:  bold;
}
/* alphabet */
#alphabet .letter {
    padding: 0 5px 0 0;
    font-weight:bold;
}
#alphabet  a.letter{
    font-size: 1.5em;
}
#alphabet a.letter.selected {
   font-size: 2em;
}

.myformat select {
    width:  auto;
}
.item-title {
    font-weight: bold;
}


/* blog links */
.items-more
{
    clear: both;
}
/* end blog */

/* product pages */
.list-image img, .product-image img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

ul.product-content{
    list-style-type:none;
    margin-bottom: 20px;
    margin:0;
    padding:0
}

.mymuse ul.product-content li {
    padding-left: 0;
}
.product-content .release{
    font-weight: 700;
    font-size: 30px;
}
h2.product-title {
    margin-top: 0px;
}
.release-title {
    font-weight: 500;
    font-size: 30px;
}
.product-intro{
    max-width: 100%;
}
.product-content-item .name {
    font-weight: 700;
}

.product-attribute-name, .product-attribute-values {
    margin-right: 20px;
    float: left;

    display: table;
}
.product-attribute-values {
    color: #000;
    display: inline-block;
    padding: 0px 0.4em;

}
.product-content-item-actions {
    background: #ddd;
    color: #000;
    display: table;
    margin: 20px 0px;
    font-size: 125%;
    padding: 5px 0px;
}
.product-attribute-values-inner {
    margin: 0px 0px;
    display:  grid;
    align-items:  center;

}
.product-attribute-values-inner .Color {


}
.attribute.active {
    margin: ;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 80%), 0 6px 20px 0 rgb(0 0 0 / 80%);
}
.product-content-item-actions .product-preview-play, .product-content-item-actions .product-full, 
.product-content-item-actions .product-full-title, .product-content-item-actions .price, .product-content-item-actions .fa-cart-plus {
    text-align: center;
    padding: 4px 0.4em;
    display: table-cell;
    vertical-align: middle;
}

.tracks .amplitude-play-pause {
    background:  url(../images/play.svg) no-repeat;
    width:  20px;
    height:  22px;
}



.list-image, .product-image {
    padding-bottom: 1em;
    
}
.list-image img {
    width:  100%;
}
ul{
    list-style-type:none;
    margin-bottom: 20px;
    margin:0;
    padding:0
}

.mypreviews .jp-gui {
    padding: 0;
}
/* cart */

.mymuse-cart-top {
    font-weight:  bold;
}
.mymuse_cart ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
.mycheckbox{
    text-align: center;
}
.myquantity .inputbox {
    width:auto;
    vertical-align: middle;
    margin: 0;
}
.coupon-add {
    margin-top: 2em;
}

span.discount {
    text-decoration: line-through;
    color: red;
}
    
/* to hide the player, uncomment this commented section 
#product_player {
  top: -1000px;
  position: absolute;
  z-index:2000000;

}
#jp-title-div  {
  top: -1000px;
  position: absolute;
  z-index:2000000;
}
*/
/* end of hide player */

/* Minicart on page */
#parent {
    float:left;
    position: relative;
    padding-bottom: 0.4em;
}
#mini-cart {
    padding-bottom: 1em;
}

.mini-cart-top{
    width: 300px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 4px;
}
.mini-cart-content{
    border-radius: 8px;
    background: #fff none repeat scroll 0% 0%;
    padding: 0.4em;
}
.mini-cart-cart, .mini-cart-text, .mini-cart-link {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.mini-cart-cart {
    background: url('../images/cart.png') no-repeat scroll 0% 0%;
    width: 34px;
    height: 34px;
}
.mini-cart-text, .mini-cart-link {
    padding: 1px 0.4em;
}

/* Add to cart Modal */
#my_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    z-index: 1000;
}
#my_modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    padding: 8px;
    z-index: 1001;
}
#my_content {
    border-radius: 8px;
    background: #fff;
    padding: 20px;
    z-index: 1001;
}
#my_close {
    position: absolute;
    background: url('../images/close.png') 0 0 no-repeat;
    width: 24px;
    height: 27px;
    display: block;
    text-indent: -9999px;
    top: -7px;
    right: -7px;
}   
/* related/recommended items */
#mymuse-container-wrap {
    margin: 50px 0px 35px 0px
}
#mymuse-container {
    width: 100%;
}
.related-item {
    display: inline-block;
    width: 13.98%;
}
.related-item img {
    width: 100%
}
    

.mobile-hide {
    display: inherit;
}
.desktop-hide {
    display: none;
}



/* new grid */
.mymuse-container {
    border:  1px solid #d1d1d1;
}
.mymuse-header { 
    background-color: transparent; 
    font-weight: bold; 
}
ul.mymuse-container {
    margin: 0.5em;
    padding: 0.5em;
}

.myaction .btn {
    margin-bottom:  0.4em;
}

.mymuse-product-info-container {
    display:  grid;
    gap:  2em;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
}
.mymuse-grid-1-2 {
    display:  grid;
    gap:  6px;
    grid-template-columns:  1fr 2fr;
}
.item-container .jp-gui {
  width: inherit;
}
.my-grid.columns-2 {
    grid-template-columns:  1fr 1fr;
}
.my-grid.columns-3 {
    grid-template-columns:  1fr 1fr 1fr;
}

/* desktop */
@media (min-width: 768px) {
    .item-container, .physical-container, .items-container, .my-grid {
        display: grid;
        gap: 10px;
        width:  100%;
    }
    
    .list-orders.item-container {
        grid-template-columns: 1fr 2fr 1fr 1fr;
    }
    .mymuse-container .item-container.cols-3 {
      grid-template-columns: 4fr 1fr 1fr;
    }
    .mymuse-container .item-container.cols-4 {
      grid-template-columns: 4fr 1fr 1fr 1fr;
    }
    .mymuse-container .item-container.cols-5 {
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    }
    .mymuse-container .item-container.cols-6 {
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
    }
    .mymuse-container .item-container.cols-7 {
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .list-products .item-container, .list-products .item-container.cols-4 {
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }
    .list-products .item-container.cols-5 {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    }
    .list-products .item-container.cols-6 {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    }
    .list-products .item-container.cols-7 {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .list-products .item-container.cols-8 {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .list-products .item-container.cols-9 {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .mymuse-container.mymuse-cart .item-container.cols-5 {
      grid-template-columns: 4fr 1fr 1fr 1fr 2fr;
    }

    .mymuse-container.mymuse-cart .item-container.cols-6 {
      grid-template-columns: 4fr 1fr 1fr 1fr 2fr 1fr;
    }
    


  .mymuse-container.mymuse-inner {
    align-self: center;
  }
  .myright {
    justify-self: right;
  }
  .mymuse-inner.jp-gui {
        padding: 0;
  }
  ul.mymuse-container li {
    padding: 0.4em 0;
  }
  ul.mymuse-cart > li:first-of-type, 
  ul.list-products > li:first-of-type {
    border-bottom:  1px solid #333;
    margin-bottom:  0.5em;
  }
   ul.list-products > li:first-of-type {
    border-top:  1px solid #333;
    background: #efefef;
   }
  ul.mymuse-cart.mymuse-cart > li:last-of-type {
    border-top:  1px solid #333;
  }
  

}
/* mobile */
@media (max-width: 767px) {

  ul.mymuse-container li {
    list-style: none;
    border:  1px solid #efefef;
    margin-bottom:  0.4em;
    margin-top:  0.4em;
    padding:  0.4em;
    border-radius:  0.4em;
  }
  div.mycart-inner {
     display: grid;
     grid-template-columns: minmax(5em, 20%) 1fr;
     align-self: center;
     padding-bottom: 0.4em;
  }
  .mymuse-inner input {
    max-width:  3em;
  }
  div.mycart-inner::before {
     content: attr(data-name)':';
     font-weight:  bold;
  }
  .mymuse-container>li:first-child, 
  .list-products>li:first-child {
     display: none;
  }
  .myfilesize, .myselect {
     text-align:  left;
  }
  .mymuse-mobile .jp-gui ul li {
      /*float: left;*/
  }
  .mymuse-inner.jp-gui {
        padding: 0;
  }

  iframe, img  {
      max-width: 90vw;
  }
  .item-container.summary {
    border-color: #49afcd;
  }
  .item-container.summary.totals {
    border-color: #da4f49;
  }

      
  .mymuse-cart .mymuse-mobile-hide {
      display: none;
  }
  .mymuse-desktop-hide {
      display: inherit;
  }
  .product-image, .product-info {
      width: 100%;
      float: left;
      padding: 0.4em;
      text-align: center;
  }
  .mypreviews .jp-gui {
      padding: 0;
  }

}

