<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="store"
			label="COM_MYMUSE_STORE_PAGES_LABEL"
			description="COM_MYMUSE_STORE_PAGES_DESC"
		>
		<field name="store_show_title" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			description="COM_MYMUSE_SHOW_TITLE_DESC"
			label="COM_MYMUSE_SHOW_TITLE_LABEL"
			default="1"
				>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field 
				name="store_link_titles" 
				type="radio"
			layout="joomla.form.field.radio.switcher"
				default="1" 
				label="COM_MYMUSE_LINK_TITLES_LABEL" description="COM_MYMUSE_LINK_TITLES_DESC"
					>
				<option value="0">JNO</option>
			<option value="1">JYES</option>
			</field>
		<field 
			name="store_show_product_image" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1" 
			label="COM_MYMUSE_SHOW_PRODUCT_IMAGE" 
			description="COM_MYMUSE_SHOW_PRODUCT_IMAGE_DESC"
				>
				<option value="0">COM_MYMUSE_HIDE</option>
				<option value="1">COM_MYMUSE_SHOW</option>
			</field>
			
		<field 
			name="store_product_image_height" 
			type="text" 
			default="0" 
			label="COM_MYMUSE_PRODUCT_IMAGE_HEIGHT" 
			description="COM_MYMUSE_PRODUCT_PRODUCT_IMAGE_HEIGHT_DESC">
			</field>
			<field 
				name="store_show_intro_text" 
				type="radio"
			layout="joomla.form.field.radio.switcher"
				default="1" 
				label="COM_MYMUSE_SHOW_INTRO_TEXT" description="COM_MYMUSE_SHOW_PRODUCT_INTRO_TEXT"
					>
				<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
			</field>

		<field
			name="store_show_readmore"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="0"
			description="COM_MYMUSE_SHOW_READMORE_DESC"
			label="COM_MYMUSE_SHOW_READMORE_LABEL"
				>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="store_show_readmore_title"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="COM_MYMUSE_SHOW_READMORE_TITLE_LABEL"
			description="COM_MYMUSE_SHOW_READMORE_TITLE_DESC"
				>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>
		
	<fieldset name="basic"
		label="COM_MYMUSE_ATTRIBS_FIELDSET_LABEL"
		addfieldprefix="Joomla\Component\Mymuse\Administrator\Field"
	>
		<field
			name="product_layout" type="componentlayout"
			label="JGLOBAL_FIELD_LAYOUT_LABEL"
			description="JGLOBAL_FIELD_LAYOUT_DESC"
			class="form-select"
			menuitems="true"
			extension="com_mymuse"
			view="product"
		/>

		<field name="show_minicart" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			description="COM_MYMUSE_SHOW_MINICART_DESC"
			label="COM_MYMUSE_SHOW_MINICART_LABEL"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="product_show_product_image" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_PRODUCT_IMAGE" 
		>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>

		<field 
			name="show_title" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_TITLE_LABEL"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field
			name="split_text"
			type="list"
			label="COM_MYMUSE_SPLIT_TEXT_LABEL"
			description="COM_MYMUSE_SPLIT_TEXT_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="show_readmore"
			type="list"
		    layout="joomla.form.field.radio.switcher"
			description="COM_MYMUSE_SHOW_READMORE_DESC"
			label="COM_MYMUSE_SHOW_READMORE_LABEL"
			showon="split_text:1"
			default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_readmore_title"
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_READMORE_TITLE_LABEL"
			description="COM_MYMUSE_SHOW_READMORE_TITLE_DESC"
			showon="split_text:1"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
	  	<field
	  		name="info_block_show"
	  		type="list"
	  		label="COM_MYMUSE_FIELD_INFOBLOCK_SHOW"
	  		class="form-select-color-state"
	  		validate="options"
	  		default="1"
	  		>
	  		<option value="use_article">COM_MYMUSE_FIELD_VALUE_USE_ARTICLE_SETTINGS</option>
	  		<option	value="0">JHIDE</option>
	  		<option	value="1">JSHOW</option>
	  	</field>

	  	<field
	  		name="info_block_show_title"
	  		type="list"
	  		label="COM_MYMUSE_FIELD_INFOBLOCK_TITLE_LABEL"
	  		class="form-select-color-state"
	  		validate="options"
	  		default="1"
	  		>
	  		<option value="use_article">COM_MYMUSE_FIELD_VALUE_USE_ARTICLE_SETTINGS</option>
	  		<option	value="0">JHIDE</option>
	  		<option	value="1">JSHOW</option>
	  	</field>

	<field type="spacer" name="spacerdetails" label="COM_MYMUSE_PRODUCT_PUBLISHING_DETAILS" /> 

		<field name="show_artist" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_ARTIST_LABEL"
			default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="link_artist" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_LINK_ARTIST_LABEL"
			default="0"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="show_category" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_CATEGORY_LABEL"
			default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="link_category" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_LINK_CATEGORY_LABEL"
			default="0"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field
			name="show_associations"
			type="assoc"
			label="JGLOBAL_SHOW_ASSOCIATIONS_LABEL"
			layout="joomla.form.field.radio.switcher"
			default="0"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
			
		</field>

		<field name="show_author" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_AUTHOR"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="link_author" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_LINK_AUTHOR_LABEL"
			default="0"
		>
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>

		<field name="show_date" 
			type="list"
			useglobal="true"
		    class="chzn-color"
			label="COM_MYMUSE_PRODUCT_SHOW_DATE"
			parentclass="stack span-1"
			default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field 
			name="show_which_date" 
			type="list"
			label="COM_MYMUSE_PRODUCT_SHOW_WHICH_DATE"
			parentclass="stack span-1-inline"
			default="released"
		>
				<option value="product_release_date">COM_MYMUSE_DATE_PRODUCT_RELEASE_DATE</option>
				<option value="created">COM_MYMUSE_DATE_CREATED</option>
				<option value="modified">COM_MYMUSE_DATE_MODIFIED</option>
				<option value="published">COM_MYMUSE_DATE_PUBLISHED</option>
		</field>

		

		<field name="show_hits" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_HITS_LABEL"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<!-- field
			name="show_vote"
			type="votelist"
			label="JGLOBAL_SHOW_VOTE_LABEL"
			class="form-select-color-state"
			validate="options"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field -->

		<field
			name="show_tags"
			label="JGLOBAL_SHOW_TAGS_LABEL"
			type="list"
			class="form-select-color-state"
			validate="options"
			default="0"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field 
			name="show_product_sku" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_SKU_PRODUCT_LABEL"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
	  	</field>

	  	<field 
			name="show_special_status" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_SPECIAL_STATUS_LABEL"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
	  	</field>

	  	<field 
			name="show_news_release_link" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_NEWS_RELEASE_LINK_LABEL"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
	  	</field>

	  	<field 
			name="show_media_link" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_MEDIA_LINK_LABEL"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
	  	</field>


	<field type="spacer" name="spacerrecording" label="COM_MYMUSE_PRODUCT_RECORDING_DETAILS" /> 	
		
		<field
		    name="show_product_full_time"
	        label="COM_MYMUSE_PRODUCT_SHOW_FULL_TIME_LABEL"
	        type="list"
	        layout="joomla.form.field.radio.switcher"
	        validate="options"
	        default="0"
	        >
	        <option value="0">JHIDE</option>
	        <option value="1">JSHOW</option>
		</field>

		<field
	        name="show_product_studio"
	        label="COM_MYMUSE_PRODUCT_SHOW_STUDIO_LABEL"
	        type="list"
	        default="0"
	        layout="joomla.form.field.radio.switcher"
	        validate="options"
	        >
	        <option value="0">JHIDE</option>
	        <option value="1">JSHOW</option>
		</field>

		<field
	        name="show_product_publisher"
	        label="COM_MYMUSE_PRODUCT_SHOW_PUBLISHER_LABEL"
	        type="list"
	        default="0"
	        layout="joomla.form.field.radio.switcher"
	        validate="options"
	        >
	        <option value="0">JHIDE</option>
	        <option value="1">JSHOW</option>
		</field>

		<field
	        name="show_product_producer"
	        label="COM_MYMUSE_PRODUCT_SHOW_PRODUCER_LABEL"
	        type="list"
	        default="0"
	        layout="joomla.form.field.radio.switcher"
	        validate="options"
	        >
	        <option value="0">JHIDE</option>
	        <option value="1">JSHOW</option>
		</field>

		<field
	        name="show_product_country"
	        label="COM_MYMUSE_PRODUCT_SHOW_COUNTRY_LABEL"
	        type="list"
	        default="0"
	        layout="joomla.form.field.radio.switcher"
	        validate="options"
	        >
	        <option value="0">JHIDE</option>
	        <option value="1">JSHOW</option>
		</field>
		
	<field type="spacer" name="spaceritems" label="COM_MYMUSE_PRODUCT_PAGES_ITEMS_SECTION" /> 

		<field name="product_show_quantity" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_QUANTITY" 
			default="1"
			>
				
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
			
		<field name="product_item_selectbox" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_ITEM_SELECTBOX" 
			default="0"
			>
				
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>		
			
	<field type="spacer" name="spacerdownload" label="COM_MYMUSE_PRODUCT_PAGES_DOWNLOAD_SECTION" /> 		

		<field name="show_player" 
				type="list"
				layout="joomla.form.field.radio.switcher"
				label="COM_MYMUSE_SHOW_PLAYER_LABEL" 
				description="COM_MYMUSE_SHOW_PLAYER_DESC"
				default="1"
			>
	 			<option value="0">JHIDE</option>
	 			<option value="1">JSHOW</option>
	 	</field> 

		<field name="product_show_tracks" 
			type="list"
			layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_TRACKS_LABEL" 
			description="COM_MYMUSE_SHOW_TRACKS_DESC"
			default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field> 

		<field name="orderby_track"
			type="list"
			label="COM_MYMUSE_TRACK_ORDER_LABEL"
			description="COM_MYMUSE_TRACK_ORDER_DESC"
			default="rdate"
		>
			<option value="rdate">JGLOBAL_MOST_RECENT_FIRST</option>
			<option value="date">JGLOBAL_OLDEST_FIRST</option>
			<option value="alpha">JGLOBAL_TITLE_ALPHABETICAL</option>
			<option value="ralpha">JGLOBAL_TITLE_REVERSE_ALPHABETICAL</option>
			<option value="hits">JGLOBAL_MOST_HITS</option>
			<option value="rhits">JGLOBAL_LEAST_HITS</option>
			<option value="order">COM_MYMUSE_PRODUCT_MANAGER_ORDER</option>
		</field>

		<field 
			name="order_track_date" 
			type="list"
			description="JGLOBAL_ORDERING_DATE_DESC"
			label="JGLOBAL_ORDERING_DATE_LABEL"
			default="released"
		>
		 <option value="released">COM_MYMUSE_DATE_PRODUCT_RELEASE_DATE</option>
			<option value="created">JGLOBAL_CREATED</option>
			<option value="modified">JGLOBAL_MODIFIED</option>
			<option value="published">JPUBLISHED</option>
		</field>
			

		<field name="product_show_select_column"
		 	type="list"
		    layout="joomla.form.field.radio.switcher"
		 	label="COM_MYMUSE_SHOW_SELECT_COLUMN" 
		 	default="1"
		 >
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="product_show_filesize" 
			type="list"
	    	layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_FILESIZE" 
			default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="product_show_filetime" 
			type="list"
	    	layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_FILETIME" 
			default="0"
			>
			<option value="0">JHIDE</option>
		<option value="1">JSHOW</option>
		</field>
		
		<!--field name="product_show_sales" 
			type="list"
	    	layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_SALES" 
			>
			
			<option value="0">JHIDE</option>
		<option value="1">JSHOW</option>
		</field -->
		
		<field name="product_show_downloads" 
			type="list"
	    	layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_DOWNLOADS" 
			default="0"
			>
			<option value="0">JHIDE</option>
		<option value="1">JSHOW</option>
		</field>
		
		<field name="product_show_cost_column" 
			type="list"
	    	layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_COST_COLUMN" 
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="product_show_preview_column" 
			type="list"
	    	layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_PREVIEW_COLUMN" 
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="product_show_cartadd" 
			type="list"
	    	layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_CARTADD" 
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field type="spacer" name="spacerrecommends" label="COM_MYMUSE_PRODUCT_RECOMMENDS" /> 		
	  	
	 	<field 
			name="show_recommends" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_RECOMMENDS_LABEL"
			default="1"
		>
			
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field 
			name="show_category_recommends" 
			type="list"
		    layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_SHOW_CATEGORY_RECOMMENDS_LABEL"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
	</fieldset>


	<fieldset name="categories" label="JGLOBAL_CATEGORIES_OPTIONS">

		<field 
			name="show_base_description" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_LABEL"
			description="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field 
			name="categories_description" 
			type="textarea"
			description="JGLOBAL_FIELD_CATEGORIES_DESC_DESC"
			label="JGLOBAL_FIELD_CATEGORIES_DESC_LABEL"
			cols="25"
			rows="5"
		/>
		
		<field 
			name="maxLevelcat" 
			type="list"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			default="-1"
			>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>
		
		<field 
			name="show_empty_categories_cat" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="0"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_MYMUSE_SHOW_EMPTY_CATEGORIES_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field 
			name="show_subcat_desc_cat" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="0"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field 
			name="subcat_desc_cat_truncate" 
			type="text" 
			default="" 
			layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_TRUNCATE_DESCRIPTION_LABEL"
			description="COM_MYMUSE_TRUNCATE_DESCRIPTION_DESC">
		</field>

		<field 
			name="show_cat_num_articles_cat" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="0"
			label="COM_MYMUSE_NUMBER_CATEGORY_ITEMS_LABEL"
			description="COM_MYMUSE_NUMBER_CATEGORY_ITEMS_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="show_cat_subcat_image" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			description="COM_MYMUSE_SHOW_SUBCAT_IMAGE_DESC"
			label="COM_MYMUSE_SHOW_SUBCAT_IMAGE_LABEL"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="cat_subcat_image_height" type="text" default="0" 
			label="COM_MYMUSE_CATEGORY_IMAGE_HEIGHT" 
			description="COM_MYMUSE_CATEGORY_IMAGE_HEIGHT_DESC">
		</field>

	</fieldset>

	<fieldset name="category"
		label="COM_MYMUSE_CATEGORY_PAGES_LABEL"
		description="COM_MYMUSE_CATEGORY_PAGES_DESC"
	>
		<field
			name="category_layout" type="componentlayout"
			label="JGLOBAL_FIELD_LAYOUT_LABEL"
			description="JGLOBAL_FIELD_LAYOUT_DESC"
			menuitems="true"
			extension="com_mymuse"
			view="category"
			default = "_:default"
		/>

		<field 
			name="show_category_title" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="JGLOBAL_SHOW_CATEGORY_TITLE"
			description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field 
			name="show_description" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC"
			label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_description_image"
			type="list"
			label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
			class="form-select-color-state"
			validate="options"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field 
			name="maxLevel" 
			type="list"
			description="JGLOBAL_MAXLEVEL_DESC"
			label="JGLOBAL_MAXLEVEL_LABEL"
			>
			<option value="-1">JALL</option>
			<option value="0">JNONE</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>
		
		<field name="subcat_columns" 
			type="list"
			description="COM_MYMUSE_CATEGORY_NUMBER_OF_COLUMNS_LABEL"
			label="COM_MYMUSE_CATEGORY_NUMBER_OF_COLUMNS_DESC"
			default="1"
			>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
		</field>

		<field 
			name="show_empty_categories" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="0"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_MYMUSE_SHOW_EMPTY_CATEGORIES_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field 
			name="show_no_articles" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="COM_MYMUSE_NO_ARTICLES_LABEL"
			description="COM_MYMUSE_NO_ARTICLES_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field 
			name="show_subcat_image" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="0"
			label="JGLOBAL_SHOW_SUBCATEGORIES_IMAGE_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_IMAGE_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		
		<field 
			name="show_subcat_desc" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="0"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field 
			name="subcat_desc_truncate" 
			type="text" 
			default="" 
			label="COM_MYMUSE_TRUNCATE_DESCRIPTION_LABEL"
			description="COM_MYMUSE_TRUNCATE_DESCRIPTION_DESC">
		</field>

		<field 
			name="show_cat_num_articles" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="COM_MYMUSE_NUMBER_CATEGORY_ITEMS_LABEL"
			description="COM_MYMUSE_NUMBER_CATEGORY_ITEMS_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field 
			name="category_show_all_products" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1" 
			label="COM_MYMUSE_SHOW_ALL_PRODUCTS" 
			description="COM_MYMUSE_SHOW_ALL_PRODUCTS_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
			

			
		<field 
			name="category_show_comment_total" 
			type="hidden"
			layout="joomla.form.field.radio.switcher"
			default="0" 
			label="COM_MYMUSE_SHOW_COMMENT_TOTAL" description="COM_MYMUSE_SHOW_COMMENT_TOTAL_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		 	
	</fieldset>
		
	<fieldset name="blog_default_parameters"
		label="COM_MYMUSE_CONFIG_BLOG_SETTINGS_LABEL"
		description="COM_MYMUSE_CONFIG_BLOG_SETTINGS_DESC"
	>
		<field 
			name="category_show_product_image" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1" 
			label="COM_MYMUSE_SHOW_PRODUCT_IMAGE" 
			description="COM_MYMUSE_SHOW_PRODUCT_IMAGE_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
			
		<field 
			name="category_show_intro_text" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1" 
			label="COM_MYMUSE_SHOW_INTRO_TEXT" 
			description="COM_MYMUSE_SHOW_PRODUCT_INTRO_TEXT"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
			
		<field 
			name="category_product_link_titles" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1" 
			label="COM_MYMUSE_LINK_TITLES_LABEL" 
			description="COM_MYMUSE_LINK_TITLES_DESC"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
			</field>
		<field 
			name="num_leading_articles"
			type="text"
			default="0"
			label="COM_MYMUSE_NUM_LEADING_PRODUCTS_LABEL"
			description="COM_MYMUSE_NUM_LEADING_PRODUCTS_DESC">
		</field>

		<field 
			name="num_intro_articles"
			type="text"
			default="10"
			label="COM_MYMUSE_NUM_INTRO_PRODUCTS_LABEL"
			description="COM_MYMUSE_NUM_INTRO_PRODUCTS_DESC">
		</field>

		<field 
			name="num_columns"
			type="text"
			default="2"
			label="COM_MYMUSE_NUM_COLUMNS_LABEL"
			description="COM_MYMUSE_NUM_COLUMNS_DESC">
		</field>

		<field 
			name="num_links"
			type="text"
			default="4"
			label="COM_MYMUSE_NUM_LINKS_LABEL"
			description="COM_MYMUSE_NUM_LINKS_DESC">
		</field>

		<field 
			name="multi_column_order"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="JGLOBAL_MULTI_COLUMN_ORDER_LABEL"
			>
			<option value="0">JGLOBAL_BLOG_DOWN_OPTION</option>
			<option value="1">JGLOBAL_BLOG_ACROSS_OPTION</option>
		</field>

		<field name="spacer1"
			type="spacer"
			hr="true"
		/>
		<field 
			name="subcategories" 
			type="spacer" 
			class="spacer"
			label="COM_MYMUSE_SUBSLIDER_BLOG_EXTENDED_LABEL"
		/>

		<field 
			name="show_subcategory_content" 
			type="list"
			default="-1"
			description="COM_MYMUSE_SHOW_SUBCATEGORY_CONTENT_DESC"
			label="COM_MYMUSE_SHOW_SUBCATEGORY_CONTENT_LABEL"
			>
			<option value="0">JNONE</option>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

	</fieldset>

	<fieldset name="list_default_parameters"
		label="JGLOBAL_LIST_LAYOUT_OPTIONS"
		description="COM_MYMUSE_CONFIG_LIST_SETTINGS_DESC"
	>

		<field 
			name="show_pagination_limit"
			type="radio" 
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
			description="JGLOBAL_DISPLAY_SELECT_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field 
			name="filter_field"
			type="list"
			default="hide"
			label="COM_MYMUSE_FILTER_FIELD_LABEL"
			description="COM_MYMUSE_FILTER_FIELD_DESC"
			>
			<option value="hide">JHIDE</option>
			<option value="title">JGLOBAL_TITLE</option>
			<option value="author">JAUTHOR</option>
			<option value="hits">JGLOBAL_HITS</option>
			<option value="product_made_date">COM_MYMUSE_PRODUCT_CREATED_LABEL</option>
		</field>

		<field 
			name="show_headings"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="JGLOBAL_SHOW_HEADINGS_LABEL"
			description="JGLOBAL_SHOW_HEADINGS_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="list_show_artist" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			description="COM_MYMUSE_LIST_ARTIST_DESC"
			label="COM_MYMUSE_LIST_ARTIST_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
			
		<field name="list_show_album" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			description="COM_MYMUSE_LIST_ALBUM_DESC"
			label="COM_MYMUSE_LIST_ALBUM_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
			
		<field name="list_show_file_length" 
			type="list"
			description="COM_MYMUSE_LIST_FILE_LENGTH_DESC"
			label="COM_MYMUSE_LIST_FILE_LENGTH_LABEL"
			default="0"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="list_show_date" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			description="COM_MYMUSE_SHOW_DATE_DESC"
			label="COM_MYMUSE_SHOW_DATE_LABEL"
			default="0"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field 
			name="date_format"
			type="text"
			size="15"
			default="Y-m-d"
			label="JGLOBAL_DATE_FORMAT_LABEL"
			description="JGLOBAL_DATE_FORMAT_DESC" />

		<field 
			name="list_show_hits"
			type="radio" 
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="JGLOBAL_LIST_HITS_LABEL"
			description="JGLOBAL_LIST_HITS_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field 
			name="list_show_price" 
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			description="COM_MYMUSE_LIST_PRICE_DESC"
			label="COM_MYMUSE_LIST_PRICE_LABEL"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field 
			name="list_show_author"
			type="radio" 
			layout="joomla.form.field.radio.switcher"
			default="0"
			label="COM_MYMUSE_SHOW_AUTHOR_LABEL"
			description="COM_MYMUSE_SHOW_AUTHOR_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="list_show_sales" 
			type="radio" 
			layout="joomla.form.field.radio.switcher"
			default="0"
			description="COM_MYMUSE_SHOW_SALES_DESC"
			label="COM_MYMUSE_SHOW_SALES_LABEL"
			>	
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="list_show_discount" 
			type="radio" 
			layout="joomla.form.field.radio.switcher"
			default="0"
			description="COM_MYMUSE_LIST_DISCOUNT_DESC"
			label="COM_MYMUSE_LIST_DISCOUNT_LABEL"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="display_num" type="list"
			default="10"
			description="COM_MYMUSE_NUMBER_ITEMS_LIST_DESC"
			label="COM_MYMUSE_NUMBER_ITEMS_LIST_LABEL">
			<option value="5">J5</option>
			<option value="10">J10</option>
			<option value="15">J15</option>
			<option value="20">J20</option>
			<option value="25">J25</option>
			<option value="30">J30</option>
			<option value="50">J50</option>
			<option value="100">J100</option>
			<option value="0">JALL</option>
		</field>
		
		<!-- field type="spacer" name="spacer_headings" label="COM_MYMUSE_TRACKS_OPTIONS" / -->

		<field name="show_alphabet" 
			type="hidden" 
			layout="joomla.form.field.radio.switcher"
			description="COM_MYMUSE_SHOW_ALPHABET_DESC"
			label="COM_MYMUSE_SHOW_ALPHABET_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
			</field>
			
	 	
		<field 
			name="track_featured" 
			type="hidden" 
			layout="joomla.form.field.radio.switcher"
			label="COM_MYMUSE_FEATURED_TRACKS_LABEL"
			description="COM_MYMUSE_FEATURED_TRACKS_DESC"
			default="0"
			>
			<option value="0">MYMUSE_HIDE</option>
	 		<option value="1">MYMUSE_SHOW</option>
		</field>

		<field name="group_by" type="hidden"
			label="COM_MYMUSE_GROUPBY_LABEL"
			description="COM_MYMUSE_GROUPBY_DESC"
			>
			<option value=""></option>
			<option value="a.parentid">MYMUSE_PRODUCT</option>
			<option value="c.id">MYMUSE_CATEGORY</option>
		</field>
		
		<field name="product_show_artist" 
			type="hidden"
			layout="joomla.form.field.radio.switcher"
			description="COM_MYMUSE_PRODUCT_SHOW_ARTIST_DESC"
			label="COM_MYMUSE_PRODUCT_SHOW_ARTIST_LABEL"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
		    name="product_artist_alternate_itemid"
		    type="hidden" oldtype="menuitem"
		    label="COM_MYMUSE_PRODUCT_ARTIST_ITEMID_LABEL"
		    description="PRODUCT_ARTIST_ITEMID_DESC"
		    class="inputbox"
		    required="false"
	    />

	</fieldset>

	<fieldset name="shared"
		label="COM_MYMUSE_SHARED_LABEL"
		description="COM_MYMUSE_SHARED_DESC"
	>
		<field 
			name="orderby_pri"
			type="list"
			default="none"
			label="JGLOBAL_CATEGORY_ORDER_LABEL"
			description="JGLOBAL_CATEGORY_ORDER_DESC"
			>
			<option value="none">JGLOBAL_NO_ORDER</option>
			<option value="alpha">JGLOBAL_TITLE_ALPHABETICAL</option>
			<option value="ralpha">JGLOBAL_TITLE_REVERSE_ALPHABETICAL</option>
			<option value="order">JGLOBAL_CATEGORY_MANAGER_ORDER</option>
		</field>

		<field 
			name="orderby_sec"
			type="list"
			default="rdate"
			label="COM_MYMUSE_PRODUCT_ORDER_LABEL"
			description="COM_MYMUSE_PRODUCT_ORDER_DESC"
			>
			<option value="rdate">JGLOBAL_MOST_RECENT_FIRST</option>
			<option value="date">JGLOBAL_OLDEST_FIRST</option>
			<option value="alpha">JGLOBAL_TITLE_ALPHABETICAL</option>
			<option value="ralpha">JGLOBAL_TITLE_REVERSE_ALPHABETICAL</option>
			<option value="author">JGLOBAL_AUTHOR_ALPHABETICAL</option>
			<option value="rauthor">JGLOBAL_AUTHOR_REVERSE_ALPHABETICAL</option>
			<option value="hits">JGLOBAL_MOST_HITS</option>
			<option value="rhits">JGLOBAL_LEAST_HITS</option>
			<option value="sales">COM_MYMUSE_MOST_SALES_ORDER</option>
			<option value="discount">COM_MYMUSE_MOST_DISCOUNT</option>
			<option value="rdiscount">COM_MYMUSE_LEAST_DISCOUNT</option>
			<option value="order">COM_MYMUSE_PRODUCT_MANAGER_ORDER</option>
		</field>

		<field 
			name="order_date" type="list"
			default="product_made_date"
			description="JGLOBAL_ORDERING_DATE_DESC"
			label="JGLOBAL_ORDERING_DATE_LABEL"
			>
			<option value="created">JGLOBAL_CREATED</option>
			<option value="modified">JGLOBAL_MODIFIED</option>
			<option value="published">JPUBLISHED</option>
			<option value="product_made_date">COM_MYMUSE_PRODUCT_CREATED_LABEL</option>
				
		</field>
		
		<field name="group_by" type="list"
			label="COM_MYMUSE_GROUPBY_LABEL"
			description="COM_MYMUSE_GROUPBY_DESC"
			>
			<option value="">JGLOBAL_USE_GLOBAL</option>
			<option value="a.parentid">COM_MYMUSE_PRODUCT</option>
			<option value="c.id">COM_MYMUSE_CATEGORY</option>
		</field>

		<field 
			name="show_pagination"
			type="list"
			default="2"
			label="JGLOBAL_Pagination_Label"
			description="JGLOBAL_Pagination_Desc"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
			<option value="2">JGLOBAL_AUTO</option>
		</field>

		<field 
			name="show_pagination_results"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field 
			name="category_match_level"
			type="hidden"
			layout="joomla.form.field.radio.switcher"
			default="product"
			label="COM_MYMUSE_CATEGORY_MATCH_LEVEL_LABEL"
			description="COM_MYMUSE_CATEGORY_MATCH_LEVEL_DESC"
			>
			<option value="product">MYMUSE_CATEGORY_MATCH_PRODUCT</option>
			<option value="track">MYMUSE_CATEGORY_MATCH_TRACK</option>
		</field>

	</fieldset>

	<fieldset name="integration"
		label="JGLOBAL_INTEGRATION_LABEL"
		description="COM_MYMUSE_CONFIG_INTEGRATION_SETTINGS_DESC"
		>


		<field
			name="custom_fields_enable"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="0"
			label="COM_MYMUSE_CUSTOM_FIELDS_ENABLE_LABEL"
			filter="integer"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="sef_ids"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="0"
			label="JGLOBAL_SEF_NOIDS_LABEL"
			filter="integer"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
			name="show_feed_link"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			default="1"
			label="JGLOBAL_SHOW_FEED_LINK_LABEL"
			description="JGLOBAL_SHOW_FEED_LINK_DESC"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="feed_summary"
			type="list"
			label="JGLOBAL_FEED_SUMMARY_LABEL"
			description="JGLOBAL_FEED_SUMMARY_DESC"
			default="0"
			>
			<option value="0">JGLOBAL_INTRO_TEXT</option>
			<option value="1">JGLOBAL_FULL_TEXT</option>
		</field>
		
		<field
			name="feed_show_readmore"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_FEED_SHOW_READMORE_LABEL"
			description="JGLOBAL_FEED_SHOW_READMORE_DESC"
			default="0"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

	</fieldset>

	<fieldset name="Updates"
		description="Update Fields"
		label="Update Fields"
	>

		<field 
			name="downloadid" 
			type="text"
			size="30"
			label="DownloadID"
			description ="Enter the Download ID to our site in order to enable Live Updates" />

	</fieldset>

	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>

		<field 
			name="rules" type="rules"
			component="com_mymuse"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" 
		/>
	</fieldset>

</config>
